.window-controls{
    display:inline-flex;
    gap: 10px;
}

.window-controls>button{
    padding:0;
    border:none;
    height:12px;
    width: 12px;
    border-radius: 12px;
}

.window-controls>.maximize{
    background-color: rgb(66, 219, 66);
}

.window-controls>.minimize{
    background-color: rgb(255, 225, 53);
}

.window-controls>.close{
    background-color: rgb(238, 46, 46);
}