.desktop-environment {
    display: flex;
    flex-direction: column;
    background-color: rgb(157, 209, 255);
    background-image: url("https://wallpapercave.com/wp/wp9990649.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.de-toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, 0.747);
    z-index: 3;
    height: 30px;
}

.de-window-container {
    position: relative;
    flex-grow: 1;
}

.dock{
    display: flex;
    overflow:hidden;
    position: absolute;
    backdrop-filter: blur(42px);
    background-color: rgba(252, 252, 252, 0.5);
    height: 70px;
    border-radius: 20px;
    transition: width 0.24s cubic-bezier(0.31,0.48,0.07,0.95);
    box-sizing: border-box;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    outline: 1px solid rgba(114, 114, 114, 0.452);
    box-shadow: 0 0px 24px rgba(41, 41, 41, 0.492);
    z-index: 3;
}

.icon{
    height: 100%;
    border-radius: 20px;
    transition: filter 0.2s, background-color 0.2s;
}

.icon-highlighted{
    background-color: rgba(255, 255, 255, 0.664);
}

.icon:hover{
    filter: brightness(1.2);
}

.icon:active{
    filter: brightness(0.8);
}

.icon img{
    height: 100%
}