.titlebar{
    display:flex;
    padding: 0.5rem;
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, 0.747);
    align-items: center;
}

.titlebar-buttons{
    margin-left: auto;
    display:flex;
    gap: 10px;
}

.titlebar-buttons>button{
    padding:0;
    border:none;
    height:12px;
    width: 12px;
    border-radius: 12px;
}

.titlebar-buttons>.maximize{
    background-color: rgb(66, 219, 66);
}

.titlebar-buttons>.minimize{
    background-color: rgb(255, 225, 53);
}

.titlebar-buttons>.close{
    background-color: rgb(238, 46, 46);
}

.window{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow:hidden;
    min-height: 250px;
    min-width: 250px;
}

.window-content{
    background-color: rgb(216, 216, 216);
    flex-grow: 1;
}

.window-resize-area{
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.301);
}

.resize-handle {
    position: absolute;
    background: red;
    z-index: 10;
}

.resize-handle-right {
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}

.resize-handle-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize;
}

.resize-handle-left {
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}

.resize-handle-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize;
}

.resize-handle-corner-se {
    background-color: green;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 5px;
    cursor: nwse-resize;
}

.resize-handle-corner-ne {
    background-color: green;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    cursor: nesw-resize;
}

.resize-handle-corner-sw {
    background-color: green;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 5px;
    cursor: nesw-resize
}

.resize-handle-corner-nw {
    background-color: green;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    cursor: nwse-resize;
}