.titlebar{
    display:flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

.titlebar-buttons{
    margin-left: auto;
    display:flex;
    gap: 10px;
}

.titlebar-buttons>button{
    padding:0;
    border:none;
    height:12px;
    width: 12px;
    border-radius: 12px;
}

.titlebar-buttons>.maximize{
    background-color: rgb(66, 219, 66);
}

.titlebar-buttons>.minimize{
    background-color: rgb(255, 225, 53);
}

.titlebar-buttons>.close{
    background-color: rgb(238, 46, 46);
}

.window{
    display: flex;
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, 0.747);
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    min-height: 250px;
    min-width: 250px;
    height: 250px;
    width: 250px;
}

.window-content{
    flex-grow: 1;
}

.window-resize-area{
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.301);
}

.resize-handle {
    position: absolute;
    z-index: 10;
}

.resize-handle-e {
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}

.resize-handle-s {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize;
}

.resize-handle-w {
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}

.resize-handle-n {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize;
}

.resize-handle-se {
    bottom: 0;
    right: 0;
    width: 5px;
    height: 5px;
    cursor: nwse-resize;
}

.resize-handle-ne {
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    cursor: nesw-resize;
}

.resize-handle-sw {
    bottom: 0;
    left: 0;
    width: 5px;
    height: 5px;
    cursor: nesw-resize
}

.resize-handle-nw {
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    cursor: nwse-resize;
}

.dragging iframe{
    pointer-events: none;
}