.component-playground-container{
    display:flex;
    height: 100%;
}

.component-playground-sidebar{
    width: 200px;
    flex-shrink: 0;
}

.component-playground{
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 100%;
}

.component-playground-content{
    padding: 1rem;
    overflow: auto;
}

.playground-titlebar{
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.surface{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 0.5rem;
}

input{
    height: 200px;
    font-size: 1rem;
}