.component-playground-content{
    padding: 1rem;
    overflow: auto;
}

.playground-titlebar{
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.component-playground{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.surface{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 0.5rem;
}